<div class="container">
  <h1 class="title">Félicitations pour votre inscription {{ nom }} !</h1>
  <p class="subtitle">
    Nous sommes ravis de vous accueillir dans notre communauté Angular.
  </p>
  <p>
    En tant que membre inscrit, vous avez accès à une mine de connaissances et
    de ressources précieuses pour vous aider à exceller dans le domaine du
    développement web.
  </p>
  <p>
    Explorez nos tutoriels approfondis, plongez dans nos articles inspirants et
    profitez des conseils avisés d'Olivier Gozlan pour maîtriser Angular et
    rester à la pointe de la technologie.
  </p>
  <p>
    Préparez-vous à vous immerger dans un univers d'apprentissage dynamique et à
    découvrir des opportunités passionnantes pour développer vos compétences.
  </p>
  <p>
    Nous sommes impatients de partager cette incroyable aventure avec vous.
    N'hésitez pas à interagir avec notre communauté, poser des questions et
    échanger des idées.
  </p>
  <p>
    Merci encore pour votre inscription et bienvenue dans l'univers d'Olivier
    Gozlan !
  </p>
</div>
